table {
  margin: 300px auto 0;

  font-size: 18px;

  text-align: start;

  border-collapse: collapse;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

th,
tr,
td {
  padding: 7px;
}

th {
  color: #eee;

  text-align: center;

  background-color: #7747b6;
}

tr {
  &:nth-of-type(2n + 1) {
    background-color: #cac1d5;
  }
}

.pagination {
  margin: 15px 0;

  text-align: center;

  button {
    padding: 5px 10px;

    font-size: 16px;

    background-color: #cac1d5;
    border: 0;
    border-radius: 7px;

    &:not(:last-child) {
      margin-right: 5px;
    }
  }
}
